---
import { getQuote } from '@/api/quote.api.ts';

const FALLBACK_QUOTE = {
  quote: 'The only bad workout is the one that did not happen.',
  author: 'Unknown',
};

let quoteData = FALLBACK_QUOTE;

try {
  quoteData = await getQuote();
} catch {}
---

<div class="quote" data-component="quote">
  <div class="quote__header">
    <span class="quote__icon">
      <svg width="18" height="18" aria-hidden="true">
        <use href="#icon-running"></use>
      </svg>
    </span>
    <h3 class="quote__title">Quote of the day</h3>
    <svg class="quote__mark" width="26" height="18" aria-hidden="true">
      <use href="#icon-inverted-commas"></use>
    </svg>
  </div>
  <p class="quote__text" data-quote-text>{quoteData.quote}</p>
  <p class="quote__author" data-quote-author>{quoteData.author}</p>
</div>

<script>
  import { initQuote } from './quote.client.ts';

  initQuote(document.querySelector('[data-component="quote"]'));
</script>
